.fondo {
    color: black;
    background-image: url("../html/image/image_biblioteca.png");
    background-size: cover;
    background-position: center;
    background-color: aqua;
    padding: 20px;
    opacity: 0.9;
    text-decoration: center;
    font-size: 24px;
}
