@keyframes mover {
    0% { transform: translateX(0); background-color: #3E2723; }
    50% { transform: translateX(200px); background-color: #2E8B57; }
    100% { transform: translateX(0); background-color: #3E2723; }
}

.caja {
    width: 100px;
    height: 100px;
    background-color: #3E2723;
    animation: mover 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF3E0;
    border-radius: 8px;
    font-weight: bold;
}
